{{ define "content" }}


<div style="display: flex; flex-direction: column; max-width: 1200px; margin: 2rem auto 5rem auto;">
  <h2>
    {{ .Params.welcome_intro }}
  </h2>

  <div style="max-width: 1000px; margin: 2rem auto;">

    <ul style="text-align: left; font-size: 1rem; line-height: 1.8; color: #444;">
      {{ range sort .Pages "Date" "desc" }}
        <li style="margin-bottom: 1rem;">
          <strong>{{ .Date.Format "02/01/2006" }}</strong> — 
          <a href="{{ .RelPermalink }}" style="color: #1a0dab;">{{ .Title }}</a><br />
          <span style="font-size: 0.9rem; color: #777;">{{ .Summary }}</span>
        </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}